@import url(https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.tox-tinymce {
    font-family: 'Vazirmatn' !important;
}

.tox-promotion,
.tox-statusbar__branding {
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #25282b49;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #25282ba4;
}

.sidebar-menu::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}

.sidebar-menu::-webkit-scrollbar-track {
    border-radius: 3px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background: rgb(73, 92, 113, 0.3);
    border-radius: 3px;
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
    background: rgba(73, 92, 113);

}

input,
select,
textarea {
    @apply focus:outline-none focus-visible:outline-none focus:placeholder:text-transparent;
}

textarea {
    @apply resize-none;
}

.TagClass {
    @apply flex items-center gap-x-2 bg-slate-100 py-1 px-2 rounded-md
}

.input-circle {
    background-position: 100%;
    /* background-image: url(../images/circle.svg); */
}

.sidebar-menu.active {
    width: 70px;
}

.sidebar-menu.active ul {
    padding: 1rem 0px;
}

.sidebar-menu.active ul li .text-menu,
.sidebar-menu.active .PanelBtnSidebar {
    display: none;
}

.form-select {
    background-image: url(https://api.iconify.design/ion:arrow-down-b.svg);
    background-position: left 0.75rem center;
    background-size: 16px 12px;
    background-repeat: no-repeat;
}

.fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: height 0.3s  0.3s, opacity 0.3s;
}

.fadeIn {
    opacity: 1;
    visibility: visible;
    transition: height 0.3s, opacity 0.3s,  visibility 0.3s 0.3s;
}